@charset "UTF-8";
body {
    background-color: #888888; /* Fundo cinza */
    color: blue;
    font-size: 20px;
    font-family: Arial;
    text-align: left;
}

h1 {
    font-size: 3vw; /* Usando unidade de largura de visualização (vw) para ajustar o tamanho do título */
    color: black;
    font-family: Times New Roman;
}

h3 {
    font-size: 2.5vw; /* Usando unidade de largura de visualização (vw) para ajustar o tamanho do título */
    color: black;
    font-family: Times New Roman;
}

p {
    font-size: 2vw; /* Usando unidade de largura de visualização (vw) para ajustar o tamanho do texto */
    color: black;
    font-family: Times New Roman;
}
}
